<h1>Dragon Ball Z Fighters - Main Page</h1>
<hr />

<div class="row">
  <div class="col">
    <ul>
      <li class="list-group-item">Goku - 9000</li>
      <li class="list-group-item">Vegeta - 7000</li>
      <li class="list-group-item">Gohan - 10000</li>
      <li class="list-group-item">Piccolo - 5000</li>
      <li class="list-group-item">Krillin - 3500</li>
    </ul>
  </div>
  <div class="col">
    <h4>Agregar Personaje</h4>
    <form action="" class="row">
      <input class="form-control mb-2" type="text" placeholder="Nombre" />
      <input class="form-control mb-2" type="text" placeholder="Poder" />
      <button type="submit" class="btn btn-primary">Agregar</button>
    </form>
  </div>
</div>
